---
import BaseLayout from '../../layouts/BaseLayout.astro';
import services from '../../data/services.json';

export function getStaticPaths() {
  return Object.entries(services).map(([slug, service]) => ({
    params: { service: slug },
    props: { service }
  }));
}

const { service } = Astro.props;
---

<BaseLayout title={service.title} description={service.title} menu="services">
    <div class="hero">
        <div class="image">
            <img src={`https://pitfielddigital.github.io/qb-building-solutions/images/${service.hero_image}`} alt={service.title} width="100%">
        </div>
        <div class="content">
            <h1 class="text-heading">{service.title}</h1>
            <div class="text">{service.short_intro}</div>
            <hr class="hero-break">
            <a class="button btn btn-red" href="https://pitfielddigital.github.io/qb-building-solutions/contact">GET A QUOTE</a>
        </div>
    </div>
    <section>
        <div class="row row-2">
            <div class="column">
                <h2 class="text-heading">{service.title}</h1>
                <div class="spacer-35"></div>
                <div set:html={service.page_content} />
                <div class="spacer-35"></div>
                <a class="button btn btn-red" href="https://pitfielddigital.github.io/qb-building-solutions/contact">GET A QUOTE</a>
            </div>
            <div class="column">
                <div class="image">
                    <img src={`https://pitfielddigital.github.io/qb-building-solutions/images/${service.page_image}`} alt={service.title} width="100%">
                </div>
            </div>
        </div>
    </section>
</BaseLayout>